<h1>New unit</h1>

<%= render 'form' %>
<select>
<option>
< % @apartmentcomplexes = apartmentcomplexes.find(:all, :order => "name") 
    collection_select("stuff", apartmentcomplex_id, @apartmentcomplexes, :id, :name)
 %>
</option>
</select>
<%= link_to 'Back', units_path %>
